@model IEnumerable<TheGioiCongNghe.Models.Product_category>

@{
    ViewBag.Title = "ListProtductModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="h2">
    <h2>Danh Mục Loại Sản Phẩm</h2>
</div>

<p>
    <button class="btn btn-success">@Html.ActionLink("Create New", "CreateProductCategory")</button>
</p>
<table class="table">
    <tr>
        <th>
            STT
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent_Id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent_Id)
            </td>
            <td>
                <a href="/Admin/EditProductCategory/@item.Id"><button class=" btn btn-info">Edit</button></a>

                <a href="/Admin/DeleteProductCategory/@item.Id"><button class=" btn btn-danger">Delete</button></a>
            </td>
        </tr>
    }

</table>