@model IEnumerable<TheGioiCongNghe.Models.Product_manager>

@{
    ViewBag.Title = "ListProductManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="h2">
    <h2>Danh Mục Sản Phẩm</h2>
</div>

<p>
    <button class="btn btn-success">@Html.ActionLink("Create New", "CreateProductManager")</button>
</p>
<table class="table">
    <tr>
        <th>
            STT
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
   
        <th>
            @Html.DisplayNameFor(model => model.Cat_Id)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
        
            <td>
                @Html.DisplayFor(modelItem => item.Cat_Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Product_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
               <a href="/Admin/EditProductManager/@item.Id"><button class=" btn btn-info" >Edit</button></a>
                
                <a href="/Admin/DeleteProductManager/@item.Id"><button class=" btn btn-danger">Delete</button></a>
            </td>
        </tr>
    }

</table>