@model TheGioiCongNghe.ViewModels.ProductViewModels
@{
    ViewBag.Title = "Article_List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">
    <div class="col-md-12 ors_main_body">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="container">
                        <div class="row ors_title_our_blogs ors_title_main">
                            <div class="item-article-category">
                                <div class="col-md-12 addon_title">
                                    <div class="row">Tin Tức</div>
                                </div>
                            </div>
                            <div class="article_list">
                                <div class="list-row">
                                    @foreach (var item in Model.Article_Managers)
                                    {
                                        <div class="col-md-4">
                                            <article class="article_item">
                                                <a href="/Admin/DetailArticleManager/@item.Id"><img class="img-responsive" src="@Url.Content(item.Article_image)" /></a>
                                                <h3><a href="/Admin/DetailArticleManager/@item.Id">@item.Title</a></h3>
                                                <p>@item.Article_Alias</p>
                                            </article>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-3" style="float:left">
                    <div class="row ors_article_category">
                        <div class="col-md-12 addon_title">
                            <div class="row">
                                <font>Category</font>
                            </div>
                        </div>
                        <div class="art_cat">
                            <ul>
                                @foreach (var item in Model.Article_Categorys)
                                {
                                    <li>
                                        <a href="/Admin/DetailArticleManager/@item.Id">
                                            @item.Title

                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                    <!-- / row-name -->
                    <div class="row ors_new_blog" id="layout_89">
                        <div id="fb-root"></div>

                        <div class="item-article-category">
                            <div class="col-md-12 addon_title">
                                <div class="row">Blog</div>
                            </div>
                            <div class="article_list  ">
                                @foreach (var item in Model.Article_Managers)
                                {
                                    <div class="list_row">
                                        <div class="col-md-12">
                                            <article class="article_item">
                                                <a href="/Admin/DetailArticleManager/@item.Id">
                                                    <img class="img-responsive" src="@Url.Content(item.Article_image)">
                                                </a>
                                                <h3>
                                                    <a class="view" href="/Admin/DetailArticleManager/@item.Id">Have you had any Surface Laptop quality control issues?</a>
                                                </h3>
                                                <span>@item.DateTime</span>

                                                <p></p>
                                            </article>
                                        </div>
                                        <!-- End .col-md* -->
                                    </div>
                                }



                            </div>
                        </div>
                    </div>
                    <!-- End .item-article-category -->
                </div>
            </div>
                <!-- / row-name -->
            </div>

        </div>
    </div>
